<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  Total number of users within system : <%- response.totalSystemUser %>
  <br/>
  Total number of unique users who have viewed products : <%- response.userViews %>
  <br/>
  Total views : <%- response.numberOfViews %>
</body>
</html>